body {
    background-color: #e6f3ff;
    padding: 12%;

}

strong {
    font-weight: bold;
}

.tagline {
    color: blueviolet;
    font-style: italic;
}

img {
    float: right;
    border-radius: 10px;
}

.pricetopic {
    font-size: 25px;
    font-weight: bold;
    padding-top: 50px;
}

.offers {
    color: black;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
    width: 100%;

}

td,
th {
    text-align: left;
    padding: 16px;
}

footer {
    text-align: center;
    font-family: Times New Roman;
    font-size: 10px;
    padding: 3px;
    background-color: orange;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}